name: Container Image SBOM using Trivy

on:
  workflow_dispatch:
    inputs:
      image_repository:
        description: 'Container Image Repository'
        required: true
        default: ''

env:
  OUTPUT_NAME: 'cyclonedxSBOM'
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read # for actions/checkout to fetch code
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
      actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status
    
    steps:

      - name: Trivy version
        uses: aquasecurity/trivy-action@0.30.0
        with:
          version: ''
          
      - name: Generate SBOM
        uses: aquasecurity/trivy-action@0.30.0
        #see https://github.com/aquasecurity/trivy-action for documentation
        with:
          image-ref: ${{ inputs.image_repository }}
          format: 'cyclonedx'
          output: 'cyclonedx-SBOM.json'
          #severity: 'CRITICAL,HIGH'
          exit-code: '0'
          vuln-type: 'os,library'
      
      - name: Run Trivy for vulnerability scanner
        uses: aquasecurity/trivy-action@0.30.0
        with:
          scan-type: 'sbom'
          scan-ref: 'cyclonedx-SBOM.json'
          format: 'cyclonedx'
          output: 'cyclonedx-vuln-SBOM.json'
          exit-code: '0'
          vuln-type: 'os,library'
          scanners: 'vuln'
          # On a subsequent call to the action we know trivy is already installed so can skip this
          skip-setup-trivy: true
          
      - name: Run Trivy for license scanner
        uses: aquasecurity/trivy-action@0.30.0
        with:
          scan-type: 'sbom'
          scan-ref: 'cyclonedx-SBOM.json'
          format: 'cyclonedx'
          output: 'cyclonedx-license-SBOM.json'
          exit-code: '0'
          vuln-type: 'os,library'
          scanners: 'license'
          # On a subsequent call to the action we know trivy is already installed so can skip this
          skip-setup-trivy: true
          
      - name: Upload Trivy results
        uses: actions/upload-artifact@v4
        with:
           name: ${{ env.OUTPUT_NAME }}
           path: ${{github.workspace}}/*.json     

